# editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,json,yml,yaml,html}]
indent_style = space
indent_size = 2

[{*.go,Makefile}]
indent_style = tab
indent_size = 4

[*.{swift,java}]
indent_style = space
indent_size = 4

[**/{docs,javadoc,.idea,.gradle,{b,B}uild,vendor,xcuserdata}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
