# editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,json,yml,yaml,html}]
indent_style = space
indent_size = 2

[{*.go,Makefile}]
indent_style = tab
indent_size = 4

[*.{swift,java}]
indent_style = space
indent_size = 4

[**/{docs,.idea,.gradle,{b,B}uild,vendor,xcuserdata}/**]
charset = none
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none
indent_style = none
indent_size = none
